.comment {
  margin-bottom: 10px;
  width: 65%;
}

.landing {
  background: url('https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-0.3.5&s=4ae6013495e02eaab7e54359fa1751d4&auto=format&fit=crop&w=1987&q=80');
  background-position: center;
  background-size: cover;
  height: 92.5vh;
}

.image-square {
  height: 70%;
  width: 100%;
  border-radius: 2px;
  padding: 4px;
  background: #fafafa;
}

.image-square-show {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  padding: 4px;
  background: #fafafa;
  margin: 0 auto;
  display: flex;
}

.meteorite-info {
  font-weight: 900;
  text-align: center;
}

.form-error {
  color: red;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.search-box {
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 160px;
  height: 27px;
}

.filter {
  margin-left: 2%;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100px;
}
